* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid;
  align-items: center;
}

.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  margin-left: 40px;
}

.logo {
  width: 100px;
}

.search-container {
  margin-bottom: 20px;
}

.res-container {
  height: 400px;
  width: 300px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e5e1e1;
  margin: 5px 5px;
}

a {
  color: rgb(67, 64, 64);
  text-decoration: none;
}

a:hover {
  color: rgb(13, 12, 12);
}

.res-container:hover {
  border: 1px solid;
  cursor: pointer;
}

.res-container > img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.restaurent-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shim-card {
  height: 400px;
  width: 300px;
  padding: 5px;
  background-color: #e5e1e1;
  margin: 5px 5px;
}

.login-logout-btn {
  margin-left: 30px;
  padding: 5px;
  cursor: pointer;
}

.menu {
  padding: 10px;
}

.menu ul {
  padding: 10px 40px;
}

.user-card {
  border: 1px solid;
}
